<template>
  <div class="chat-pane">
    <message-list :messages="store.state.messages"></message-list>
    <input-bar v-show="canChat" :store="store"></input-bar>
  </div>
</template>
<script>
import InputBar from './InputBar'
import MessageList from './MessageList'
import appState from '@/store/app_state'
export default {
  props: ['store'],
  components: {
    InputBar,
    MessageList
  },
  computed: {
    canChat () {
      return appState && appState.state.active_channel
    }
  }
}
</script>
<style>
.chat-pane {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.message-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: wrap;
}
</style>
