<template>
<div v-if="error" class='form-error'>{{error}}</div>
</template>
<script>
export default {
  name: 'form-error',
  props: {
    error: {
      type: String
    }
  }
}
</script>
<style>
.form-error {
  background: red;
  color: white;
  /* display: inline-block; */
  width: fit-content;
  padding: 0.15rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
</style>
