<template>
<div class="server-list">
  <div class='column-heading'>Servers</div>
  <modal v-show="createServerVisible">
    <template slot="header">New Server</template>
    <template slot="body">
      <label>Server name:</label><br/>
      <input type="text" v-model.trim="txtServerName"/>
    </template>
    <template slot="footer">
      <button class="btn-green" @click="createServer()">Create</button>
      <button class="btn-red" @click="hideCreateServer()">Cancel</button>
    </template>
  </modal>
  <modal v-show="joinServerVisible">
    <template slot="header">Join Server</template>
    <template slot="body">
      <label>Server ID:</label><br/>
      <input type="text" v-model.trim="txtServerID" />
    </template>
    <template slot="footer">
      <button class="btn-green" @click="joinServer()">Create</button>
      <button class="btn-red" @click="hideJoinServer()">Cancel</button>
    </template>
  </modal>
  <ul>
    <li v-bind:class="{active: appstate && appstate.active_server !== null && appstate.active_server.id === server.id}"
        v-for="server in store.state.servers"
        :key="server.id"
        @click="changeServer(server)"
        >&{{server.name}} {{server.id}}</li>
  </ul>
  <div v-if="!store.state.servers" class="new-server">No servers.<br/><a @click.capture="newServer" href="#">Make a new one?</a></div>
  <div class='flex-row-bottom flex-col'>
    <button @click="showJoinServer()" class="btn btn-success">Join Server</button>
    <button @click="newServer()" class="btn btn-info">New Server</button>
    <button @click="logout()" class="btn btn-danger">Logout</button>
  </div>
</div>
</template>
<script>
import auth from '@/api/auth.js'
import Modal from '@/components/Modal'

export default {
  components: {
    Modal
  },
  props: ['store', 'appstate'],
  data: function () {
    return {
      createServerVisible: false,
      joinServerVisible: false,
      txtServerName: null,
      txtServerID: null
    }
  },
  methods: {
    logout: function () {
      auth.logout(() => {
        this.$emit('logout')
      })
    },

    newServer: function () {
      this.createServerVisible = true
    },

    hideCreateServer: function () {
      this.txtServerName = null
      this.createServerVisible = false
    },

    hideJoinServer: function () {
      this.txtServerID = null
      this.joinServerVisible = false
    },

    showJoinServer: function () {
      this.joinServerVisible = true
    },

    joinServer: function () {
      let serverID = this.txtServerID
      this.hideJoinServer()
    },

    createServer: function () {
      let serverName = this.txtServerName
      this.store.createServer(serverName, (obj, code = 201, msg = null) => {
        if (code === 201) {
          obj.store.updateServers()
          obj.hideCreateServer()
          obj.$emit('server-switch')
        } else {
          alert('An error occured while creating the server. Error type: ' + code)
        }
      }, this)
    },
    changeServer: function (server) {
      // get channel list for server
      this.appstate.active_server = server
      this.store.getChannelList(server.id, (obj) => {
        obj.$emit('server-switch')
      }, this)
    }
  }
}
</script>

<style lang="scss">
.server-list {
  width: 200px;
  height: 100%;
  // padding-left: 5px;
  // border-right: 1px solid gray;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  min-width: 0;
  color: white;
  font-size: 1.3rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    li {
      padding-left: 2px;
      padding-right: 2px;
      display: block;
      width: 100%;
      height: 2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      line-height: 2.6rem;
      height: 2.6rem;
    }
    li.active {
      background: darkorange;
    }
    li:hover{
      background:#33ab9f;
    }
  }

  .new-server {
    padding: 1rem;
    a:visited, a:active {
      color: blue;
    }
  }
}
.btn {
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20pt;
  cursor: pointer;
}

.btn-danger {
  background: lightcoral;
  color: white;
}

.btn-danger:hover {
  background: red;
}

.btn-info {
  background: cornflowerblue;
  color: white;
}

.btn-success {
  background: #4AAE9B;
  color: white;
}

.btn-success:hover {
  background: green;
}

.btn-info:hover {
  background: lightskyblue;
}

.flex-row-bottom {
  margin-top: auto;
  width: 100%;
}
</style>
